<% include header %>

<div id="header" data-0="opacity:1;display:block;" data-400="opacity:0;display:none;">
    <a class="logo" href="#">
      <img src="img/logo/logo-white.png">
    </a>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <span class="pull-right">
          <img src="img/channels/news.png" class="img-circle channel">
            French news
          <span class="icon icon-arrow-down8"></span>           
        </span>         
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <img src="img/channels/sport.png" class="img-circle channel"> Sport              
         </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <img src="img/channels/science.png" class="img-circle channel"> Science            
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <img src="img/channels/music.png" class="img-circle channel"> Music              
          </a>
        </li>
      </ul>
    </div>             
</div>

<div id="first-section">
  <div class="titre" data-0="opacity:1;display:block;margin-top:25vh;" data-400="opacity:0;display:none;margin-top:40vh;">    
    
<% for(var i=1; i<6; i++) {%>
    <div class="summary topic-<%= i %> topic 
    <% if(i == 1) { %>
      active
    <% } else { %>
      <% if(i == 2) { %>
        right
      <% } else { %>
        right-hidden        
      <% } %>      
    <% } %>"
    id="<%= i %>">
      <span class="rank"><%= i %></span>
      <h1><%= topics[i].keyWords %></h1> 
      <p>Description détaillée, premier synopsis de l'article du monde (par exemple)</p>     
      <button class="btn btn-daily" onclick="$('html, body').animate({scrollTop: $('#main').offset().top}, 350);">
        More on this <span class="icon icon-arrow-down3"></span>
      </button>
    </div>
<% } %>    

  </div> 
</div>

<div id="section-images" class=""> 
  <div class="images">
    <% for(var i=1; i<6; i++) {%>
    <div class="topic topic-<%= i %> <% if(i == 1) { %>active<% }%>">
      <a href="#">
        <div class="text"><%= topics[i].keyWords %></div>
        <div class="shadow"></div>          
        <img src="img/cover/img<%= i %>.jpg">
      </a>
    </div>
    <% } %>                        
  </div>         
</div>  

<div id="main" class="card-style">

  <div id="navbar" class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>           
        </button>
        <a class="logo" href="#">
          <img src="img/logo/logo.png">
        </a>                 
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <img src="img/channels/news.png" class="img-circle channel">
                French news                        
               <span class="icon icon-arrow-down8"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#"><img src="img/channels/sport.png" class="img-circle channel"> Sport</a></li>
              <li><a href="#"><img src="img/channels/science.png" class="img-circle channel"> Science</a></li>
              <li><a href="#"><img src="img/channels/music.png" class="img-circle channel"> Music</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav topics">
          <% for(var i=1; i<6; i++) {%>
          <li>
            <a href="#" class="topic  topic-<%= i %> <% if(i == 1) { %>active<% }%>">
              <span class="word word1"><%= topics[i].keyWords %></span>
              <span class="word word2"></span>
              <span class="word word3"></span>
            </a>
          </li>            
          <% } %>          
        </ul>
        <ul class="nav navbar-nav ranking hidden-sm hidden-md hidden-lg">
          <div class="rankby">Rank by</div>                
          <li>
            <a href="#">
              <span class="icon icon-star3"></span>
              <span class="text">By favorites</span>
            </a>
          </li>
          <li>
            <a href="#" class="active">
              <span class="icon icon-retweet"></span>
              <span class="text">By retweets</span>
            </a>
          </li>                  
          <li>
            <a href="#">
              <span class="icon icon-clock"></span>
              <span class="text">Chronologically</span>
            </a>
          </li>
        </ul>            
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>

  <div class="container container-tweets">

      <div class="col-sm-12 hidden-xs row-ranking">
        <ul class="nav navbar-nav ranking">
          <div class="rankby">Rank by</div>                
          <li>
            <a href="#">
              <span class="icon icon-star3"></span>
              <span class="text">By favorites</span>
            </a>
          </li>
          <li>
            <a href="#" class="active">
              <span class="icon icon-retweet"></span>
              <span class="text">By retweets</span>
            </a>
          </li>                  
          <li>
            <a href="#">
              <span class="icon icon-clock"></span>
              <span class="text">Chronologically</span>
            </a>
          </li>
        </ul>            
      </div>

    <% for(var i=1; i<6; i++) {%>
    <div class="topic topic-<%= i %> <% if(i == 1) { %>active<% }%>">    
      
      <div class="row titre">
        <h1><%= topics[i].keyWords %></h1>  
      </div>      

      <% for(var j=1; j<11; j++) {%>     
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <a href="http://twitter.com/<%= topics[i].tweets[j].userScreenName %>" taget="blank">
            <img src="<%= topics[i].tweets[j].userImageUrl %>" alt="image profile <%= topics[i].tweets[j].userName %>" >
          </a>
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom"><%= topics[i].tweets[j].userName %>  </span><span class="handle"><a href="http://twitter.com/<%= topics[i].tweets[j].userScreenName %>">@<%= topics[i].tweets[j].userScreenName %></a></span>
          <p class="content">
            <%= topics[i].tweets[j].text %>            
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a href="" class="number">
            <span class="value"><%= topics[i].tweets[j].retweetCount %></span>                
            <span class="icon icon-retweet"></span>
          </a>
          <a href=""  class="number">
            <span class="value"><%= topics[i].tweets[j].favoriteCount %></span>
            <span class="icon icon-star3"></span>
          </a>      
          <div class="number inverse">
            <span class="value"><%= topics[i].tweets[j].createdAt %></span>
            <span class="icon icon-clock"></span>            
          </div>                    
        </div>
      </div>    
      <% } %>

    </div>        
    <% } %>                                            

  </div>
</div>

<div id="section-background">
  <% for(var i=1; i<6; i++) {%>
  <div class="background topic topic-<%= i %> <% if(i == 1) { %>active<% }%>">
    <img  src="img/cover/img<%= i %>blur.jpg" class="section-background-image blur" data-0="opacity:0;" data-300="opacity:1;">
    <img src="img/cover/img<%= i %>.jpg" class="section-background-image net">     
  </div>           
  <% } %>           
</div>  

<script src="js/jquery-2.1.1.min.js"></script>

<script src="js/bootstrap/dropdown.js"></script>  
<script src="js/bootstrap/collapse.js"></script>   
<script src="js/bootstrap/affix.js"></script>  
<script src="js/bootstrap/alert.js"></script>   
<script src="js/bootstrap/button.js"></script>  
<script src="js/bootstrap/carousel.js"></script>   
<script src="js/bootstrap/modal.js"></script>  
<script src="js/bootstrap/tooltip.js"></script>  
<script src="js/bootstrap/popover.js"></script>       
<script src="js/bootstrap/scrollspy.js"></script>  
<script src="js/bootstrap/tab.js"></script>   
<script src="js/bootstrap/transition.js"></script> 

<script type="text/javascript">
// ADD SLIDEDOWN ANIMATION TO DROPDOWN //
$('.dropdown').on('show.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).fadeIn();
});

// ADD SLIDEUP ANIMATION TO DROPDOWN //
$('.dropdown').on('hide.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).fadeOut();
});
</script>

<script src="js/skrollr.min.js"></script>       
<script src="js/waypoints.min.js"></script>   
<script src="js/waypoints-sticky.min.js"></script>   

<script type="text/javascript">
  var s = skrollr.init();
</script>
<script type="text/javascript">
  $('#section-images').waypoint('sticky', {offset: 0,wrapper: '<div class="wrapper-images" />'}); 
  $('#navbar').waypoint('sticky', {offset: 0,wrapper: '<div class="wrapper-navbar" />'});          
</script>

<script type="text/javascript">

  function goToTopic(goal){
    var current = $('.summary.active').attr('id');
      //On va slider vers la droite, et on commence par se placer sur le summary actif
      
      //On met à gauche tous les élements précedents : left-hidden
      $('.topic-'+goal+'.summary').prevAll('.summary').removeClass('left left-hidden active right right-hidden').addClass('left-hidden');
      //Le premier élément à gauche est mis en  left
      $('.topic-'+goal+'.summary').prev('.summary').removeClass('left left-hidden active right right-hidden').addClass('left');

      //On centre le summary
      $('.topic-'+goal+'.summary').removeClass('left left-hidden active right right-hidden').addClass('active');

      //On met à droite tous les élements suivant : right-hidden
      $('.topic-'+goal+'.summary').nextAll('.summary').removeClass('left left-hidden active right right-hidden').addClass('right-hidden');
      //Le premier élément à gauche est mis en  left
      $('.topic-'+goal+'.summary').next('.summary').removeClass('left left-hidden active right right-hidden').addClass('right');

      //On change tous les attributs active (#summary, #images, #navbar,  #background)
      $('.topic').removeClass('active');
      $('.topic-'+goal).addClass('active');      
      
  };

  //évènements déclencheurs au clic
  $(document.body).on('click', '.summary.right,.summary.left,#section-images .topic,#navbar .topic',function(){
    var classes= $(this).attr('class');//on prend les classes dans lesquelles il y a .topic-x
    var p = classes.indexOf('topic-')+'topic-'.length; //position du numéro 
    var x = classes.substring(p,p+1);
    goToTopic(x);
  });

$(document).keydown(function(e) {
    switch(e.which) {

        case 37: 
          console.log('left');
            var goal = $('.summary.active').attr('id')-1;
            if (goal<1){break;}
            else if (goal>5){break;}
            else{goToTopic(goal);break;}

        case 38: // up
          offset= $('#navbar').position().top;
            $('html, body').animate({scrollTop: $('#first-section').offset().top}, 350);
            break;

        case 39: 
          var goal = parseInt($('.summary.active').attr('id'))+1;
          if (goal<1){break;}
          else if (goal>5){break;}
          else{goToTopic(goal);break;}

        case 40: // down
          offset= $('#navbar').position().top;
          console.log(offset);
          if (offset>0){
            $('html, body').animate({scrollTop: $('#main').offset().top}, 350);
            break;
          }
          else{break;}

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});


</script>

<script type="text/javascript">
function addlinks(data) {
    //Add link to all http:// links within tweets
     data = data.replace(/((https?|s?ftp|ssh)\:\/\/[^"\s\<\>]*[^.,;'">\:\s\<\>\)\]\!])/g, function(url) {
        return '<a href="'+url+'"  target="_blank">'+url+'</a>';
    });
         
    //Add link to @usernames used within tweets
    data = data.replace(/\B@([_a-z0-9]+)/ig, function(reply) {
        return '<a href="http://twitter.com/'+reply.substring(1)+'" style="font-weight:lighter;" target="_blank">'+reply.charAt(0)+reply.substring(1)+'</a>';
    });
//Add link to #hastags used within tweets
    data = data.replace(/\B#([_a-z0-9]+)/ig, function(reply) {
        return '<a href="https://twitter.com/search?q='+reply.substring(1)+'" style="font-weight:lighter;" target="_blank">'+reply.charAt(0)+reply.substring(1)+'</a>';
    });
    return data;
}

$(document).ready(function(){
  $( ".tweet .content" ).each(function() {
    $(this).html(addlinks($(this).html()));
  });  
});

</script>

<% include footer %>